img { border:none }

.popupContent { font: normal 12px "Lucida Grande", Helvetica, sans-serif; color: #333 }
	.popupContent a, .popupContent a:hover { color:#02749a }
	.popupContent a:visited { color:#004b66 }

.navLinks { border-width: 1px 0; border-color: #eaeaea; border-style: solid; padding: 5px; margin: 15px 0 }

.disableItemNav { color: #9e9e9e; font-weight: bold; text-decoration: none; display: block }

.previousItem { float:left }
.nextItem { float:right }

.entryInfo { color: #9e9e9e; padding: 0 0 2px }

a.itemNav, a.itemNav:hover, a.itemNav:visited  { color: #0066cc; font-weight: bold; text-decoration: none; display: block }
a.itemNav:hover { text-decoration: underline }

.title a, .title a:hover, .title a:visited  { color: #333; font-size: 125%; font-weight: bold; padding: 10px 0 5px; text-decoration: none; display:block }
.title a:hover { text-decoration: underline }

a.source, a.source:visited { font-style: italic; color: #9e9e9e; text-decoration: none }
a.source:hover { text-decoration: underline }
